html body {
  text-align: center;
  font-size: larger;
  font-style: bold;
  font-family: "Manrope", sans-serif;
  background-color: rgb(85, 144, 100);
}
.stuff {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  background-color: rgb(25, 25, 25);
  border: 2px rgb(209, 209, 209) solid;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 20px;
}
.stuff-image {
  width: 90%;
  size: 70px;
}
input {
  margin-bottom: 10px;
}
#put {
  margin-bottom: 20px;
}
.remove-btn {
  width: 20%;
  height: 40px;
  background-color: red;
  margin-bottom: 20px;
  color: white;
  font-weight: 900;
  font-size: 1rem;
}
